.mySwiper .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 40px 56px 40px 56px;
  gap: 10px;
}

.serviceSwiper .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  transform: scale(0.5);
  opacity: 0;
  border: 2px solid #ffe500;
  border-radius: inherit;
  transition: 0.22s ease-in;
}

.client-container {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .swiper-pagination {
    margin: 30px 40px 30px 40px;
  }
}

@media (max-width: 1024px) {
  .swiper-pagination {
    margin: 10px 16px 10px 16px;
    justify-content: center;
  }
}

@keyframes color-change {
  0% {
    background-color: #222;
    color: #222;
    border-color: #222;
  }
  100% {
    background-color: #e1e507;

    border-color: #e1e507;
  }
}

.hover\:animate-color-change:hover {
  animation: color-change 0.5s linear forwards;
}




.loader__outer__container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__inner__container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.progress-bar-loading  {
  width: 500px;
}



.scrollbar__menu::-webkit-scrollbar {
  width: 8px;
  background-color: #dcdcdc;
}

.scrollbar__menu::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background-color: #dcdcdc;
}

.scrollbar__menu:hover::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #dcdcdc;
}